@charset "utf-8";
/* ======== GENERAL RULES ======== */

body {
    font: normal .90em 'Montserrat', sans-serif;
    color: #202020;
    text-align: justify;
    padding: 0;
    margin: 0 auto;
}

.container-fluid {
    padding-bottom: 25px;
}

.noPad {
    padding-bottom: 0px;
}

header,
footer,
nav,
article,
section,
aside,
hgroup {
    display: block;
}

p {
    font-family: 'Montserrat', sans-serif;
}

i {
    color: #008043;
}

img {
    border: none;
}

hr {
    background-color: #334801;
    color: #334801;
    height: 1px;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding-left: 1.3em;
}

li:before {
    content: "\f06c";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

table {
    padding: 0;
    border-collapse: collapse;
    font-size: 100%;
    width: 100%;
}

/* ======== TYPOGRAPHY ======== */

a {
    color: #334801;
    text-decoration: none;
    font-weight: bold;
    outline: none;
}

a:hover {
    color: #7eb403;
    text-decoration: underline;
    font-weight: bold;
    outline: none;
}

h1 {
    font: 65px 'Mr Dafoe', cursive;
    color: #334801;
    margin: .3em 0 .3em 0;
    letter-spacing: 1px;
    padding-bottom: 25px;
}

h2 {
    font: 30px 'Mr Dafoe', cursive;
    color: #7eb403;
    margin: .3em 0;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid;
}

h3 {
    font: 24px 'Pacifico', cursive;
    color: #334801;
    margin: .3em 0;
    padding: 0;
}

h4 {
    font: bold 35px 'Mr Dafoe', cursive;
    color: #334801;
    margin: .3em 0;
}

h5 {
    font: 18px 'Homemade Apple', cursive;
    color: #334801;
    margin: .3em 0;
}

h6 {
    font: bold 14px 'Mr Dafoe', cursive;
    color: #505050;
    margin: .3em 0;
}

.push {
    height: 250px;
    clear: both;
}

#footer-outer {
    width: 100%;
    height: auto;
    text-align: left;
    background: #7aab04;
    background: -moz-linear-gradient(top, #7aab04 0%, #000000 55%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7aab04), color-stop(55%, #000000));
    background: -webkit-linear-gradient(top, #7aab04 0%, #000000 55%);
    background: -o-linear-gradient(top, #7aab04 0%, #000000 55%);
    background: -ms-linear-gradient(top, #7aab04 0%, #000000 55%);
    background: linear-gradient(to bottom, #7aab04 0%, #000000 55%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7aab04', endColorstr='#000000', GradientType=0);
}

footer {
    clear: both;
    height: 305px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    font-size: 75%;
    line-height: 1.5em;
    padding: 20px 0 25px 0;
    margin: 0 auto;
}

footer p {
    padding: 0;
    margin: 0;
}

footer a {
    color: #c0c0c0;
    padding: 0 5px;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #00844b;
    text-decoration: none;
    font-weight: bold;
}

footer h3 {
    font: 30px 'Homemade Apple', cursive;
    color: #ffffff;
    margin: .3em 0;
    letter-spacing: 1px;
    border-bottom: 1px solid;
    text-align: center;
}

footer section h6 {
    font: 15px 'Pacifico', cursive;
    color: #ffffff;
    margin: .3em 0;
    letter-spacing: 1px;
    text-align: center;
}

footer section {
    font: normal .90em 'Montserrat', sans-serif;
    color: #ffffff;
    margin: .3em 0;
    letter-spacing: 1px;
    text-align: center;
}

/*misc. classes */

.center {
    text-align: center;
}

.tiny {
    font-size: 75%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.clear {
    clear: both;
}

.button a {
    font-size: 0.90em;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #334801;
    text-decoration: none;
    font-weight: normal;
    box-shadow: 0 2px 3px #999;
}

.button a:hover {
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #505050;
    text-decoration: none;
    font-weight: normal;
}

tr>td.cons {
    min-width: 124px;
}

/* ======== FIELDSET & LEGEND ======== */

fieldset {
    border: 1px dashed #334801;
    padding: 5px;
    margin: 10px 0;
}

legend {
    color: #334801;
    background-color: #ffffff;
    font: bold 16px Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    padding: 2px 5px;
    margin: 0 0 0 15px;
}

/* ======== Additional styling for links ======== */

#accordionLinks {
    color: #334801;
    font: 34px 'Mr Dafoe', cursive;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 5px;
    margin: 0px;
}

#accordionLinks:hover {
    color: #00844b;
    text-decoration: none;
    font-weight: bold;
}

td strong {
    color: #334801;
    font: 18px 'Homemade Apple', cursive;
}

h4 strong {
    color: #334801;
    font: 18px 'Homemade Apple', cursive;
}

a {
    color: #334801;
}

a:hover {
    color: #00844b;
    text-decoration: none;
    font-weight: bold;
}

a.list-group-item {
    background-color: #564a34;
}

a.list-group-item.active {
    background-color: #00844B;
    border-color: #00844B;
}

a.list-group-item>.fa-spin {
    display: none;
    color: #79A904;
}

a.list-group-item>.nospin {
    color: #79A904;
}

a.list-group-item:hover {
    border-color: #00844B;
    background-color: #00844B
}

a.list-group-item.active>.fa-spin {
    display: block;
    align-content: center;
    color: #79A904;
}

a.list-group-item.active>.nospin {
    display: none;
    color: #79A904;
}

a.list-group-item>.small.nospin {
    display: none;
    color: #79A904;
}

a.list-group-item.active>.small.nospin {
    display: none;
    color: #79A904;
}

a.nav-item.nav-link.active {
    background-color: #564a34;
    color: #00844B;
}

.noBold {
    font-weight: normal;
}

a[href$=".pdf"]::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialised;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1c1";
}

@media only screen and (max-width: 768px) {
    a.list-group-item>.fa-spin {
        display: none;
    }

    a.list-group-item.active>.fa-spin {
        display: none;
    }

    a.list-group-item>.nospin {
        display: none;
    }

    a.list-group-item.active>.nospin {
        display: none;
    }

    a.list-group-item>.small.nospin {
        display: block;
    }

    a.list-group-item.active>.small.nospin {
        display: block;
    }
}