#interactivemap a { background-image: url(images/ie_mmp_map.gif); background-repeat: no-repeat; display: block; width: 402px; height: 0px; overflow: hidden; padding-top: 319px; background-position: bottom left; }
#interactivemap a:hover { background-image: url(images/ie_mmp_map.gif); background-position: top left; }
