/* basic page styling */

html { background-image: url(images/grass_bg.gif); background-repeat: repeat-x; background-color: #3C3022; }
body { margin: 0 auto; width: 795px; }

/* page content styling */

#top { position: relative; margin-top: 10px; padding: 0; width: 795px; height: 190px; }

#brandingwrapper { position: relative; float: left; width: 530px; height: 190px; }
#brandingbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity:.70; opacity: .70; width: 530px; height: 190px; border-style: solid; border-width: 2px; border-color: #000; }
#branding { position: relative; float: left; width: 530px; height: 190px; margin-top: -190px; }
h1 { padding: 0; margin: 0; }
h1 span { background-image: url(images/logo.gif); background-repeat: no-repeat; width: 485px; height: 0px; display: block; overflow: hidden; padding-top: 190px; margin-top: 0px; }
h1 span a { background-image: url(images/logo.gif); background-repeat: no-repeat; width: 485px; height: 0px; display: block; overflow: hidden; padding-top: 190px; margin-top: 0px; }
h2 { display: none; }

#contactwrapper { position: relative; float: left; width: 230px; height: 190px; margin-left: 20px; }
#contactbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 230px; height: 190px; border-style: solid; border-width: 2px; border-color: #000; }
#contact { position: relative; float: left; width: 200px; height: 190px; margin-top: -190px; padding-left: 10px; padding-top: 5px; }
h3 { background-image: url(images/h3.gif); background-repeat: no-repeat; width: 90px; height: 0px; display: block; overflow: hidden; padding-top: 11px; margin: 0px; }
h4 { background-image: url(images/h4.gif); background-repeat: no-repeat; width: 78px; height: 0px; display: block; overflow: hidden; padding-top: 15px; margin: 0px; }
#contact ul { list-style-type: none; margin: 0; padding: 0; line-height: 14px; }
#contact ul li { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000; }
#contact ul li a { color: #000; font-style: italic; text-decoration: none; }
#contact ul li a:hover { color: #396; }
#contact ul #address { padding-top: 10px; }
#contact ul #hours { padding-top: 10px; }
#contact ul #map { padding-top: 10px; }

#bottom { position: relative; margin-top: 20px; padding: 0; width: 798px; height: auto; }

#navwrapper { position: relative; float: left; width: 230px; height: 360px; margin-right: 20px; }
#navbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 230px; height: 360px; border-style: solid; border-width: 2px; border-color: #000; }
#nav { position: relative; float: left; width: 230px; height: 360px; margin-top: -360px; padding-left: 10px; padding-top: 5px; }
#nav ul { padding: 0; margin: 0; }
#nav .main{ list-style-image: url(images/li_arrow.gif); padding-left: 20px; }
#nav .sub { list-style-image: url(images/li_sub_arrow.gif); padding-left: 20px; }
#nav ul li a { font-family: Verdana, Arial, Helvetica, sans-serif; color: #000; font-size: 12px; text-decoration: none; }
#nav ul li a:hover {color: #396; }

#welcomewrapper { position: relative; float: left; width: 530px; height: 162px; }
#welcomebox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 162px; border-style: solid; border-width: 2px; border-color: #000; }
#welcome { position: relative; float: left; width: 530px;  height: 162px; margin-top: -162px; }
#welcome p { padding-top: 10px; padding-left: 13px; margin: 0; width: 510px; }
#welcome p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
#welcome p a { color: #000; text-decoration: none; text-transform: uppercase; font-weight: bold; font-size: 10px; padding-left: 5px; }
#welcome p a:hover { color: #396; }

#aboutuswrapper { position: relative; float: left; width: 530px; height: 555px; }
#aboutusbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 555px; border-style: solid; border-width: 2px; border-color: #000; }
#aboutus { position: relative; float: left; width: 530px;  height: 555px; margin-top: -555px; }
#aboutus p { padding-top: 10px; padding-left: 13px; margin: 0; width: 510px; }
#aboutus p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#aboutus p a { color: #000; text-decoration: none; text-transform: uppercase; font-weight: bold; font-size: 10px; padding-left: 5px; }
#aboutus p a:hover { color: #396; }
#aboutus h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_about.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }

#serviceswrapper { position: relative; float: left; width: 530px; height: 360px; }
#servicesbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 360px; border-style: solid; border-width: 2px; border-color: #000; }
#services { position: relative; float: left; width: 530px;  height: 360px; margin-top: -360px; }
#services p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#services p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#services a { color: #000; text-decoration: underline; font-size: 12px; padding-left: 5px; }
#services a:hover { color: #396; }
#services ul { padding: 0; margin: 0; list-style-type: square; padding-left: 30px; }
#services ul li a { font-family: Verdana, Arial, Helvetica, sans-serif; color: #000; }
#services #labimg { margin-top: -202px; margin-left: 370px; }
#services #consultationimg { margin-top: -212px; margin-left: 370px; }
#services h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_services.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }

#accredwrapper { position: relative; float: left; width: 530px; height: 830px; }
#accredbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 830px; border-style: solid; border-width: 2px; border-color: #000; }
#accred { position: relative; float: left; width: 530px;  height: 830px; margin-top: -830px; }
#accred h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_accreditations.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#accred #accredwater { margin: 8px 0 0 13px; background-image: url(images/h6_accredwater.gif); background-repeat: no-repeat; width: 508px; height: 0px; display: block; overflow: hidden; padding-top: 20px; }
#accred #accredmanure { margin: 8px 0 0 13px; background-image: url(images/h6_accredmanure.gif); background-repeat: no-repeat; width: 508px; height: 0px; display: block; overflow: hidden; padding-top: 20px; }
#accred #approvedlab { margin: 8px 0 0 13px; background-image: url(images/h6_approvedlab.gif); background-repeat: no-repeat; width: 508px; height: 0px; display: block; overflow: hidden; padding-top: 20px; }
#accred #methodref { margin: 8px 0 0 13px; background-image: url(images/h6_methodref.gif); background-repeat: no-repeat; width: 508px; height: 0px; display: block; overflow: hidden; padding-top: 20px; }
#accred #profprog { margin: 8px 0 0 13px; background-image: url(images/h6_profprog.gif); background-repeat: no-repeat; width: 508px; height: 0px; display: block; overflow: hidden; padding-top: 20px; }
#accred p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#accred p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#accred ul { padding: 0; margin: 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
#accred ul li { line-height: 20px; }
#accred .accreditation { padding-left: 30px; list-style-type: square; }
#accred .accreditationsub { padding-left: 20px; list-style-type: none; }

#dairywrapper { position: relative; float: left; width: 530px; height: 665px; }
#dairybox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 665px; border-style: solid; border-width: 2px; border-color: #000; }
#dairy { position: relative; float: left; width: 530px;  height: 665px; margin-top: -665px; }
#dairy h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_dairy.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#dairy p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#dairy p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }

#domesticwaterwrapper { position: relative; float: left; width: 530px; height: 550px; }
#domesticwaterbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 550px; border-style: solid; border-width: 2px; border-color: #000; }
#domesticwater { position: relative; float: left; width: 530px;  height: 550px; margin-top: -550px; }
#domesticwater h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_domesticwater.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#domesticwater p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#domesticwater p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#domesticwater a { color: #000; text-decoration: underline; font-size: 12px; padding-left: 5px; }
#domesticwater a:hover { color: #396; }

#irrigationwaterwrapper { position: relative; float: left; width: 530px; height: 410px; }
#irrigationwaterbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 410px; border-style: solid; border-width: 2px; border-color: #000; }
#irrigationwater { position: relative; float: left; width: 530px;  height: 410px; margin-top: -410px; }
#irrigationwater h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_irrigationwater.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#irrigationwater p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#irrigationwater p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }

#sampletechswrapper { position: relative; float: left; width: 530px; height: 360px; }
#sampletechsbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 360px; border-style: solid; border-width: 2px; border-color: #000; }
#sampletechs { position: relative; float: left; width: 530px;  height: 360px; margin-top: -360px; }
#sampletechs h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_sampletechs.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#sampletechs p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#sampletechs p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }

#reportingwrapper { position: relative; float: left; width: 530px; height: 360px; }
#reportingbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 360px; border-style: solid; border-width: 2px; border-color: #000; }
#reporting { position: relative; float: left; width: 530px;  height: 360px; margin-top: -360px; }
#reporting h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_reporting.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#reporting p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#reporting p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }

#consultantswrapper { position: relative; float: left; width: 530px; height: 1680px; }
#consultantsbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 1680px; border-style: solid; border-width: 2px; border-color: #000; }
#consultants { position: relative; float: left; width: 530px;  height: 1680px; margin-top: -1680px; }
#consultants h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_consultants.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#consultants p { margin: 0; padding: 0; }
#consultants p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#consultants p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#consultants h6 { margin: 0; padding: 0; }
#consultants h6 { margin-left: 13px; margin-bottom: 20px; margin-top: 20px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #396; font-weight: bold; } 
#consultants ul li { margin: 0; padding: 0; line-height: 14px; }
#consultants ul { list-style-type: none; padding-left: 150px; margin: 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
#consultants ul li { padding-bottom: 5px; }
#consultants a { color: #000; }
#consultants a:hover { color: #396; }
#consultants .name { font-weight: bold;  }
#consultants .title { font-style: italic; }
#consultants #nat { margin-left: 13px; margin-top: -134px; }
#consultants #hugh { margin-left: 13px; margin-top: -125px; }
#consultants #keith { margin-left: 13px; margin-top: -170px; }
#consultants #ben { margin-left: 13px; margin-top: -140px; }
#consultants #danyal { margin-left: 13px; margin-top: -195px; margin-bottom: 60px; }
#consultants #bill { margin-left: 13px; margin-top: -106px; }
#consultants #hitoshi { margin-left: 13px; margin-top: -106px; }

#formswrapper { position: relative; float: left; width: 530px; height: 360px; }
#formsbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 360px; border-style: solid; border-width: 2px; border-color: #000; }
#forms { position: relative; float: left; width: 530px;  height: 360px; margin-top: -360px; }
#forms h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_forms.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#forms p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#forms p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#forms ul { list-style-type: none; margin: 0; padding: 0; }
#forms ul li { padding-left: 13px; padding-bottom: 3px; padding-top: 5px; }
#forms ul li a { font-family: Verdana, Arial, Helvetica, sans-serif; color: #000; text-decoration: underline; font-size: 12px; }
#forms ul li a:hover { color: #396; }

#samplesoilwrapper { position: relative; float: left; width: 530px; height: 415px; }
#samplesoilbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 415px; border-style: solid; border-width: 2px; border-color: #000; }
#samplesoil { position: relative; float: left; width: 530px;  height: 415px; margin-top: -415px; }
#samplesoil p { padding: 0px; margin: 0;  width: 500px; }
#samplesoil p { margin-left: 13px; margin-top: 10px; text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#samplesoil h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_soilsampling.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#samplesoil h6 { padding: 0; margin-left: 13px; margin-bottom: 0px; margin-top:5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #396; } 
#samplesoil .tools { padding: 0;  margin: 0; list-style-type: square; }
#samplesoil .tools { margin-left: 30px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
#samplesoil ol { padding: 0; margin: 0; }
#samplesoil ol { margin-left: 36px; margin-top: 5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
#samplesoil ol .abc { list-style-type: lower-alpha; margin-bottom: 5px; }

#sampletissuewrapper { position: relative; float: left; width: 530px; height: 930px; }
#sampletissuebox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 930px; border-style: solid; border-width: 2px; border-color: #000; }
#sampletissue { position: relative; float: left; width: 530px;  height: 930px; margin-top: -930px; }
#sampletissue p { padding: 0px; margin: 0;  width: 500px; }
#sampletissue p { margin-left: 13px; margin-top: 10px; text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#sampletissue h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_tissuesampling.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#sampletissue h6 { padding: 0; margin-left: 13px; margin-bottom: 0px; margin-top:5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #396; } 
#sampletissue .tools { padding: 0;  margin: 0; list-style-type: square; }
#sampletissue .tools { margin-left: 30px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
#sampletissue ol { padding: 0; margin: 0; }
#sampletissue ol { margin-left: 36px; margin-top: 5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
#sampletissue ol .abc { list-style-type: lower-alpha; margin-bottom: 5px; }
#sampletissue img { margin-left: 140px; margin-top: 10px;  }
#sampletissue table { padding: 0; margin-left: 13px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; }
#sampletissue table th { color: #396; }

#samplingguidewrapper { position: relative; float: left; width: 530px; height: 560px; }
#samplingguidebox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 560px; border-style: solid; border-width: 2px; border-color: #000; }
#samplingguide { position: relative; float: left; width: 530px;  height: 560px; margin-top: -560px; }
#samplingguide #determine { margin: 8px 0 0 13px; background-image: url(images/h6_determine.gif); background-repeat: no-repeat; width: 508px; height: 0px; display: block; overflow: hidden; padding-top: 20px; }
#samplingguide h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_sampling.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#samplingguide p { padding: 0px; margin: 0;  width: 500px; }
#samplingguide p { margin-left: 13px; margin-top: 10px; text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#samplingguide ol { padding: 0; margin: 0; }
#samplingguide ol { margin-left: 36px; margin-top: 5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
#samplingguide a { color: #000; text-decoration: underline; font-size: 12px; padding-left: 5px; }
#samplingguide a:hover { color: #396; }
#samplingguide ul { padding: 0; margin: 0; list-style-type: square; padding-left: 30px; padding-top: 20px }
#samplingguide ul li a { font-family: Verdana, Arial, Helvetica, sans-serif; color: #000; }

#employmentwrapper { position: relative; float: left; width: 530px; height: 570px; }
#employmentbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 570px; border-style: solid; border-width: 2px; border-color: #000; }
#employment { position: relative; float: left; width: 530px;  height: 570px; margin-top: -570px; }
#employment p { padding: 0px; margin: 0;  width: 500px; }
#employment p { margin-left: 13px; margin-top: 10px; text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#employment h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_employment.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#employment h6 { padding: 0; margin-left: 13px; margin-bottom: 0px; margin-top:5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #396; } 
#employment ul { list-style-type: none; padding: 0; margin-top: 15px; margin-left: 0px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
#employment ul li { margin-left: 30px; }

#contactuswrapper { position: relative; float: left; width: 530px; height: 740px; }
#contactusbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 740px; border-style: solid; border-width: 2px; border-color: #000; }
#contactus { position: relative; float: left; width: 530px;  height: 740px; margin-top: -740px; }
#contactus #note { padding: 0; margin: 0 0 0 13px; font-style: italic; }
#contactus p { padding: 0; margin: 0; }
#contactus p { margin-left: 13px; }
#contactus p { margin-top: 10px; text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#contactus form p { padding: 0; margin: 0;  width: 500px; }
#contactus h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_contactus.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#contactus form { padding: 0; margin: 0; }
#contactus form { margin-left: 13px; }
#contactus form #address { margin-bottom: 5px; }
#contactus table { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 5px; }
#contactus table th { font-weight: bold; text-align: left; }
#contactus .contacttitle { font-weight: bold; padding: 0; margin: 0; }
#contactus span { font-style: italic; font-weight: normal; }
#contactus #error { color: #F00; text-align: left; font-size: 11px; }
.contact_form { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; border-color: #999; border-style: solid; border-width: 1px; }
.contact_form:focus { border-color: #000; }
.btn { cursor: pointer; color: #FFF; font-family: Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase; font-size: 12px; background-color: #396; border-style: solid; border-color: #FFF; border-width: 1px; width: 80px; margin-top: 10px; }
.btn:hover { border-color: #FFF; border-width: 1px; }

#thankyouwrapper { position: relative; float: left; width: 530px; height: 360px; }
#thankyoubox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 360px; border-style: solid; border-width: 2px; border-color: #000; }
#thankyou { position: relative; float: left; width: 530px;  height: 360px; margin-top: -360px; }
#thankyou h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_thankyou.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#thankyou p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#thankyou p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }

#customerservicewrapper { position: relative; float: left; width: 530px; height: 620px; }
#customerservicebox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 620px; border-style: solid; border-width: 2px; border-color: #000; }
#customerservice { position: relative; float: left; width: 530px;  height: 620px; margin-top: -620px; }
#customerservice h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_customerservice.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#customerservice p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#customerservice p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#customerservice ul { padding: 0; margin: 0; list-style-type: none; }
#customerservice ul { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000; padding-left: 13px; line-height: 15px; }
#customerservice h6 { padding: 0; margin: 0; }
#customerservice h6 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #396; padding-left: 13px; padding-top: 20px; }
#customerservice a { color: #000; }
#customerservice a:hover { color: #396; }

#whatwedowrapper { position: relative; float: left; width: 530px; height: 860px; }
#whatwedobox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 860px; border-style: solid; border-width: 2px; border-color: #000; }
#whatwedo { position: relative; float: left; width: 530px;  height: 860px; margin-top: -860px; }
#whatwedo h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_whatwedo.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#whatwedo h6 {  margin: 8px 0 0 13px; padding: 0; background-image: url(images/h6_dellavallecan.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 20px; }
#whatwedo ul { padding: 0; margin: 0; }
#whatwedo .catergory { padding: 0; margin-left: 13px; margin-bottom: 0px; line-height: 18px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #396; list-style-type: none; }
#whatwedo .subcatergory { line-height: 14px; font-weight: normal; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000; list-style-type: square; padding-left: 30px; }

#laboratorywrapper { position: relative; float: left; width: 530px; height: 400px; }
#laboratorybox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 400px; border-style: solid; border-width: 2px; border-color: #000; }
#laboratory { position: relative; float: left; width: 530px;  height: 400px; margin-top: -400px; }
#laboratory h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_laboratory.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#laboratory p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#laboratory p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#laboratory .main { list-style-type: square; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px; padding-left: 30px; margin: 0; }
#laboratory .sub { list-style-type: square; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 15px; padding-left: 35px; margin: 0; font-weight: normal; color: #000; }

#consultingwrapper { position: relative; float: left; width: 530px; height: 400px; }
#consultingbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 400px; border-style: solid; border-width: 2px; border-color: #000; }
#consulting { position: relative; float: left; width: 530px;  height: 400px; margin-top: -400px; }
#consulting h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_consulting.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#consulting p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#consulting p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#consulting .main { list-style-type: square; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px; padding-left: 30px; margin: 0; }
#consulting .sub { list-style-type: square; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 15px; padding-left: 35px; margin: 0; font-weight: normal; color: #000; }

#expertisewrapper { position: relative; float: left; width: 530px; height: 580px; }
#expertisebox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 580px; border-style: solid; border-width: 2px; border-color: #000; }
#expertise { position: relative; float: left; width: 530px;  height: 580px; margin-top: -580px; }
#expertise h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_expertise.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#expertise h6 { margin: 8px 0 0 13px; padding: 0; font-family: Verdana, Arial, Helvetica, sans-serif; color: #396; font-size: 12px; }
#expertise p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#expertise p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#expertise a { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000; }
#expertise a:hover { color: #396; }
#expertise .main { list-style-type: square; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px; padding-left: 30px; margin: 0; }
#expertise .sub { list-style-type: square; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 15px; padding-left: 35px; margin: 0; font-weight: normal; color: #000; }

#agriculturalwrapper { position: relative; float: left; width: 530px; height: 400px; }
#agriculturalbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 400px; border-style: solid; border-width: 2px; border-color: #000; }
#agricultural { position: relative; float: left; width: 520px;  height: 400px; margin-top: -400px; }
#agricultural h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_agricultural.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#agricultural p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#agricultural p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#agricultural ul { padding: 0; margin: 0; list-style-type: square; padding-left: 30px; }
#agricultural ul li{ font-family: Verdana, Arial, Helvetica, sans-serif; color: #000; font-size: 12px; }
#agricultural a { color: #000; }
#agricultural a:hover { color: #396; }

#analyticalcatwrapper { position: relative; float: left; width: 530px; height: 4000px; }
#analyticalcatbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 4000px; border-style: solid; border-width: 2px; border-color: #000; }
#analyticalcat { position: relative; float: left; width: 530px;  height: 4000px; margin-top: -4000px; }
#analyticalcat h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_analyticalcat.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#analyticalcat p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#analyticalcat p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#analyticalcat h6 { padding: 0; margin-left: 13px; margin-bottom: 0px; margin-top:5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #396; }
#analyticalcat #details { font-size: 10px; color: #777; line-height: 12px; }
#analyticalcat a { color: #000; }
#analyticalcat a:hover { color: #396; }
#analyticalcat #refrences { margin: 0; padding: 0; line-height: 14px; list-style-type: square; }
#analyticalcat #refrences { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000; padding-left: 30px; font-style: italic; }
#analyticalcat table { text-align: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; margin-top: 10px; margin-left: 13px; }
#analyticalcat table th { color: #396; }
#analyticalcat table .type { font-weight: bold; }

#contactconsultantwrapper { position: relative; float: left; width: 530px; height: 650px; }
#contactconsultantbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 650px; border-style: solid; border-width: 2px; border-color: #000; }
#contactconsultant { position: relative; float: left; width: 530px;  height: 650px; margin-top: -650px; }
#contactconsultant p { padding: 0; margin: 0; }
#contactconsultant p { margin-left: 13px; }
#contactconsultant p { margin-top: 10px; text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#contactconsultant form p { padding: 0; margin: 0;  width: 500px; }
#contactconsultant h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_contactconsultants.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#contactconsultant form { padding: 0; margin: 0; }
#contactconsultant form { padding-left: 13px; }
#contactconsultant form #address { margin-bottom: 5px; }
#contactconsultant table { font-famil: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin-top: 5px; }
#contactconsultant table th { font-weight: bold; text-align: left; }
#contactconsultant .contacttitle { font-weight: bold; padding: 0; margin: 0; }
#contactconsultant span { font-style: italic; font-weight: normal; }
#contactconsultant #error { color: #F00; text-align: left; font-size: 11px; }

#mapwrapper { position: relative; float: left; width: 530px; height: 710px; }
#mapbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 710px; border-style: solid; border-width: 2px; border-color: #000; }
#map { position: relative; float: left; height: 710px; margin-top: -710px; }
#map p { padding: 0px; margin: 0;  width: 500px; }
#map p { margin-left: 13px; margin-top: 10px; text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#map h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_map.gif); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#map h6 { padding: 0; margin-left: 13px; margin-bottom: 0px; margin-top:5px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #396; } 
#interactivemap { position: relative; float: left; width: 402px; height: 319px; }
#interactivemap { margin-left: 65px; margin-top: 20px; padding: 0; }
#interactivemap a { background-image: url(images/mmp_map.gif); background-repeat: no-repeat; display: block; width: 402px; height: 0px; overflow: hidden; padding-top: 319px; background-position: bottom left; }
#interactivemap a:hover { background-image: url(images/mmp_map.gif); background-position: top left; }

#waterwrapper { position: relative; float: left; width: 530px; height: 360px; }
#waterbox { position: relative; float: left; background-color: #FFF; filter: alpha(opacity=70); moz-opacity: .70; opacity: .70; width: 530px; height: 360px; border-style: solid; border-width: 2px; border-color: #000; }
#water { position: relative; float: left; width: 530px;  height: 360px; margin-top: -360px; }
#water h5 { margin: 8px 0 0 13px; padding: 0; background-image: url(images/h5_water.jpg); background-repeat: no-repeat; width: 508px; height: 0px; overflow: hidden; display: block; padding-top: 160px; }
#water p { padding-left: 13px; padding-top: 10px; margin: 0; width: 500px; }
#water p { text-align: justify; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; }
#water ul { padding: 0; margin: 0; list-style-type: square; padding-left: 30px; }
#water ul li a { font-family: Verdana, Arial, Helvetica, sans-serif; color: #000; font-size: 12px; }
#water a:hover { color: #396; }

#slideshow { position: relative; float: left; width: 530px; height: 180px; margin-top: 20px; }

#copyright { clear: both; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000; text-align: left; }
