/* CSS Document */
html { background-image: url(../images/grass_bg2.gif); background-repeat: repeat-x; background-color: #634E35; }
body { margin: 50px auto; width: 600px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #111111; }
h1 { padding: 0; margin: 0 0 20px 30px; font-size: 20px; }
form { padding: 0; margin: 0; }
#form_textarea { font-family: Arial, Helvetica, sans-serif; font-size: 13px; }
#edit_content { position: relative; background-color: #FFF; filter: alpha(opacity=70); moz-opacity:.70; opacity: .70; width: 600px; height: 300px; border: 2px solid #000; }
#form_edit { position: relative; width: 600px; height: 300px; margin-top: -280px; }
#position_list { width: 550px; margin-top: 10px; }
#position_list tr, #position_list td , #position_list th { border-left: 1px solid #000; border-top: 1px solid #000; }
#position_list { border-right: 1px solid #000; border-bottom:  1px solid #000; }
div#add_content { min-height: 450px; width: 600px; }
* html div#add_content {display:inline-block; }
div#add_content {background-image: url('../images/transparent-background.png');}
div#add_content { border: 2px solid #000; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/transparent-background.png', sizingMethod='scale'); }
#add_content h1 { margin-top: 10px; }
#form_add { }

