vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Nov 2012 16:33:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|whatwedo.html clientservices.html samplingguide.html water.html contactus.html menu_web.css3prj.html new_page.html sampling-tissue-field-and-row-crops.html sampling-water-irrigation-water-collection.html contactus2.html consultants.html reporting.html sampling-soil-permanent-crops.html sampling-tissue-permanent-crops.html certifiedsamplers.html map.html consulting.html layout1.html analyticalcatalog.html services.html dairy.html agricullture.html sampling-water.html sampling-water-drinking-and-wastewater.html aboutus.html accreditation.html expertise.html forms.html laboratory.html sampling_soil.html sampling-crop-removal.html sampling-soil-field-and-row-crops.html employment.html index.html sampling_tissue.html sampling-soil-ornamentals.html sampling-tissue-ornamentals.html shipping-instructions.html
vti_author:SR|SONY\\Sony Vaio VPCF1
vti_modifiedby:SR|SONY\\Sony Vaio VPCF1
vti_timecreated:TR|15 Nov 2012 04:12:56 -0000
vti_syncwith_hostingcentralvalley.com\:80/test_sites/dellavalle:TR|19 Nov 2012 16:33:02 -0000
vti_cacheddtm:TX|19 Nov 2012 16:33:02 -0000
vti_filesize:IR|3005
vti_cachedlinkinfo:VX|S|mainbk.png S|arrowsub.png S|arrowsub.png
vti_cachedsvcrellinks:VX|FSUS|menu_web.css3prj_files/css3menu1/mainbk.png FSUS|menu_web.css3prj_files/css3menu1/arrowsub.png FSUS|menu_web.css3prj_files/css3menu1/arrowsub.png
